# File di sistema
.DS_Store
Thumbs.db

# File di test
test*.php
test*.txt
* - Copia.php

# File temporanei
*.tmp
*.temp
*.bak
*.swp

# File di log
*.log
error_log

# File di ambiente
.env
.env.*
!.env.example

# File di cache
.phpunit.result.cache
*.cache

# File di IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.phar
.git-blame-ignore-revs
*:Zone.Identifier
/.env

